body {

  background-color: #B7B0C2;
}
//
// #map {
//   height: 400px;
//   width: 100%;
//   margin-bottom: 10px;
//  }

 #map, #pano {
       float: left;
       height: 40%;
       width: 100%;
     }


h1 {
   font-family: 'Amatic SC', cursive;
 }

.jumbotron {
  margin-top: 40px;
  background-color: #F2CDA2;
  text-align: center;
}

#display-city {
  background-color: #F2CDA2;
}
